# 依赖项
node_modules/
package-lock.json
yarn.lock

# 编译产物
artifacts/
build/
cache/
coverage/
out/
*.json
.deps/

# 环境变量
.env
.env.local
.env.*.local

# IDE 配置
.vscode/
.idea/
*.code-workspace

# 系统文件
.DS_Store
Thumbs.db

# 编辑器缓存
*.swp
*.swo
*.log

# Remix 本地缓存
.remix/